body{
    width:100%;
    height: 100%;
}
div{margin: 20px auto; width: 70%}
input[type="button"]{    width: 200px;
    height: 50px;
    background-color: #FFF;
    border-color: #EA8A66;
    color: #EA8A66;
    font-size: 20px;
    border-style: solid;}